@model RiddleMurphy.ViewModels.FollowListViewModel
@{
    ViewBag.Title = "Follow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="container-fluid">
        <div class="row">
            <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    @if (Model.OrderFollowers)
                    {
                    <h1 class="h2">@Model.User.UserName - <label class="text-success">@Model.Followers.Count</label> - Followers</h1>
                    }
                    else
                    {
                        <h1 class="h2">@Model.User.UserName - Follows - <label class="text-success">@Model.Follows.Count</label></h1>
                    }

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <a href="/" class="btn btn-sm btn-outline-secondary">Main</a>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Visit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OrderFollowers)
                        {
                            foreach (var item in Model.Followers)
                            {
                                <tr>
                                    <td><img src="@item.UserProfileImgPath" style="max-width:200px" /></td>
                                    <td>@item.UserName</td>
                                    <td><a href="/Main/Visit/@item.UserId" class="btn btn-sm btn-outline-secondary">Visit</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var item in Model.Follows)
                            {
                                <tr>
                                    <td><img src="@item.UserProfileImgPath" style="max-width:200px" /></td>
                                    <td>@item.UserName</td>
                                    <td><a href="/Main/Visit/@item.UserId" class="btn btn-sm btn-outline-secondary">Visit</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </main>
        </div>
    </div>

</div>

